@import url("header.css");
@import url("footer.css");
@import url("styles.css");

.visible img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#body p {
  margin-bottom: 60px;
}

#blogContainer {
  text-align: center;
}

#blogHeader {
  letter-spacing: 25px;
  font-weight: bolder;
}

#author,
#updated {
  font-size: 1.2em;
  font-style: italic;
  margin: 20px 0;
}

.postedBy {
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  margin: 19px 0;
}

#author #updated .postedBy {
  display: flex;
  justify-content: space-between;
}

#body {
  width: 80%;
  margin: 0 auto;
  font-size: 1.7em;
  line-height: 1.9em;
}

#blogContainer div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#blogContainer div.visible {
  opacity: 1;
  transform: translateY(0);
}

button {
  position: relative;
  display: flex;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #002cda;
  color: white;
  cursor: pointer;
  margin-bottom: 100px;
}

button:hover {
  background-color: #001f8f;
}

.visible {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  button {
    font-size: 1em;
  }
}

@media screen and (max-width: 1091px) {
  #blogContainer {
    width: 100%;
    margin: 0 auto;
  }

  #body {
    width: 100%;
  }

  #blogHeader {
    letter-spacing: 15px;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  button {
    font-size: 1em;
  }

  #blogContainer div {
    width: 100%;
  }

  #blogContainer div.visible {
    width: 100%;
  }

  .visible img {
    width: 50%;
  }

  .visible {
    display: flex;
    justify-content: center;
  }

  #author #updated .postedBy {
    display: flex;
    justify-content: space-between;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1.1em;
    line-height: 1.7em;
  }
}

@media screen and (max-width: 800px) {
  #blogContainer {
    width: 100%;
    margin: 0 auto;
  }

  #body {
    width: 100%;
  }

  #blogHeader {
    letter-spacing: 15px;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  #body p {
    margin-bottom: 40px;
  }

  button {
    font-size: 1em;
  }

  #blogContainer div {
    width: 100%;
  }

  #blogContainer div.visible {
    width: 100%;
  }

  .visible img {
    width: 50%;
  }

  .visible {
    display: flex;
    justify-content: center;
  }

  #author #updated .postedBy {
    display: flex;
    justify-content: space-between;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  #blogContainer {
    width: 100%;
    margin: 0 auto;
  }

  #body {
    width: 100%;
  }

  #blogHeader {
    letter-spacing: 15px;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  #body p {
    margin-bottom: 40px;
  }

  button {
    font-size: 1em;
  }

  #blogContainer div {
    width: 100%;
  }

  #blogContainer div.visible {
    width: 100%;
  }

  .visible img {
    width: 50%;
  }

  .visible {
    display: flex;
    justify-content: center;
  }

  #author #updated .postedBy {
    display: flex;
    justify-content: space-between;
  }

  #author,
  #updated {
    font-size: 1em;
  }

  #body {
    font-size: 1em;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 560px) {
  #blogContainer {
    width: 100%;
    margin: 0 auto;
  }

  #body {
    width: 100%;
  }

  #blogHeader {
    letter-spacing: 0.5vw;
    font-size: 7vw;
  }

  #author,
  #updated {
    font-size: 3vw;
  }

  #body {
    font-size: 3vw;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    line-height: 2;
    margin-top: 20px;
  }

  .visible img {
    width: 50%;
    object-fit: cover;
    height: 32vh;
    border-radius: 150px;
  }

  .visible {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
