@import url("/css/header.css");
@import url("/css/footer.css");
@import url("/css/styles.css");





#body p {
    margin-bottom: 60px; /* Legger til litt mellomrom mellom avsnittene */
}


/* Ny styling for tekstelementene */
#blogContainer {
    text-align: center; /* Sentrerer alt tekstinnhold */
}

#blogHeader {
    font-size: 3em;
    font-weight: bold;
}

#author, #updated {
    font-size: 1.2em;
    font-style: italic;
    margin: 20px 0;
}

#body {
    width: 80%;
    margin: 0 auto;
    font-size: 1.7em;
    line-height: 1.9em;
}

#blogContainer div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#blogContainer div.visible {
    opacity: 1;
    transform: translateY(0);
}
