@import url("header.css");
@import url("footer.css");
@import url("styles.css");

main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* INTRO SECTION START*/
.intro {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.intro-header h1 {
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.intro-header2 {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}

.intro-text {
  width: 90%;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 40px;
}

/* INTRO SECTION END*/

/* CAROUSEL SECTION START*/

.hidden {
  display: none;
}

.visible {
  display: block;
}

.slide-numbers {
  text-align: center;
  position: relative;
  bottom: 100px;
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: inline-block;
}

.dot:hover,
.active {
  background-color: rgb(54, 50, 50);
  height: 22px;
  width: 22px;
}
.dot:hover {
  box-shadow: 0 0 5px #fff;
}

.blogCarouselContainer img {
  object-fit: cover;
  width: 1440px;
  height: 500px;
  max-width: 1457px;
  border-radius: 25px;
}

.blogCarouselContainer {
  position: relative;
}

.blogCarouselContainer h2 {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 3.5em;
  width: 110%;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

.arrowButtons {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -250px;
}

.blogCarouselContainer .carouselCta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* CAROUSEL SECTION END */

/* ALL POSTS SECTION START*/

.allPosts {
  display: flex;
  flex-direction: column;
}

.posts-header {
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.posts-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* BLOG SECTION START*/

/* Blog Section */
.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  max-width: 1440px;
  align-items: baseline;
  gap: 20px;
}

.blogContainer {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 400px;
}

/* Blog Image */
.blog-image {
  width: 350px;
  height: 240px;
  margin-bottom: 20px;
}

.blog-image img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.5s;
}

.blog-image img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/* Blog Title */
.blog-title {
  text-align: center;
  margin-bottom: 10px;
}

.blogCardTitle {
  font-size: 1.5em;
  font-weight: bold;
}

/* Read More Button */
.readMoreButton {
  text-align: center;
}

.read-more-a {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-a:hover {
  background-color: #0056b3;
}

/* BLOG SECTION END*/

/* media queries */
@media screen and (max-width: 1440px) {
  .intro {
    margin-left: 0;
  }
  .blogCarouselContainer img {
    width: 1130px;
    height: 400px;
  }
  .blogCarouselContainer h2 {
    font-size: 3em;
  }
  .blogCarouselContainer .carouselCta {
    font-size: 1.8em;
  }
  .arrowButtons {
    top: -200px;
  }

  .posts-header {
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .posts-text {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1091px) {
  .intro {
    margin-left: 0;
  }
  .blogCarouselContainer img {
    width: 100%;
    height: 400px;
  }
  .blogCarouselContainer h2 {
    font-size: 2.5em;
  }
  .blogCarouselContainer .carouselCta {
    font-size: 1.5em;
  }
  .blogCarouselContainer {
    position: relative;
  }
  .arrowButtons {
    top: -150px;
  }

  .blogCarouselContainer img {
    height: 300px;
    max-width: 750px;
    width: 550px;
  }

  .posts-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .posts-text {
    font-size: 1em;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .intro-header h1 {
    font-size: 3.5em;
  }
  .intro-header2 {
    font-size: 1.5em;
  }
  .intro-text {
    font-size: 1.2em;
  }
  .blogCarouselContainer img {
    height: 300px;
    max-width: 750px;
    width: 550px;
  }
  .blogCarouselContainer h2 {
    font-size: 2em;
  }
  .blogCarouselContainer .carouselCta {
    font-size: 1.2em;
  }
  .arrowButtons {
    top: -150px;
  }

  .posts-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .posts-text {
    font-size: 1em;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .blog-section {
    margin-top: 40px;
  }
  .blogContainer {
    flex: 0 1 50%;
  }
  .blog-image {
    width: 100%;
    height: 200px;
  }
  .blog-title {
    margin-bottom: 5px;
  }
  .blogCardTitle {
    font-size: 1.2em;
  }
  .read-more-a {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 500px) {
  .intro-header h1 {
    font-size: 2.5em;
  }
  .intro-header2 {
    font-size: 1.2em;
  }
  .intro-text {
    font-size: 1em;
  }
  .blogCarouselContainer img {
    height: 200px;
    max-width: 500px;
    width: 350px;
  }
  .blogCarouselContainer h2 {
    font-size: 1.5em;
  }
  .blogCarouselContainer .carouselCta {
    font-size: 1em;
  }
  .arrowButtons {
    top: -100px;
  }

  .posts-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .posts-text {
    font-size: 0.8em;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .blog-section {
    margin-top: 40px;
  }
  .blogContainer {
    flex: 0 1 100%;
  }
  .blog-image {
    width: 100%;
    height: 150px;
  }
  .blog-title {
    margin-bottom: 5px;
  }
  .blogCardTitle {
    font-size: 1em;
  }
  .read-more-a {
    font-size: 0.8em;
  }
}
