@import url("header.css");
@import url("footer.css");
@import url("styles.css");

main {
  background-image: url("/images/login.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.loginHeader {
  color: #fff;
  padding: 40px 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  letter-spacing: 10px;
}

input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

button {
  display: flex;
  justify-content: center;
  background-color: #0c2fe6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

button:hover {
  background-color: #0c2fe6;
}
